{%- macro hero(title,lead) -%}
<hgroup class="hero max-w-xl space-y-8 [&_a]:(text-pri-900 font-bold underline-(& offset-2)) [&>:not(h1)]:(text-wrap-balance leading-relaxed opacity-80)">
  <h1 class="text-(gray-900 3xl wrap-balance) font-bold tracking-tight [&>b]:(text-pri-600 font-black dark:text-pri-500) md:(text-4xl leading-tight)">
    {{ title | safe }}
  </h1>
  {%- if lead %}{{ lead | md | safe }}{%- endif %}
  {{ caller() }}
</hgroup>
{%- endmacro -%}
