---
layout: 'layouts/default.njk'
title: qShoot
desc: Prototype SHMUP made with PICO-8. Procedurally generated starfield, dual animated bullets with muzzle flashes, banking sprites, exhaust animation...
ico: mdi:microsoft-xbox-controller
color: blue
tags:
  - games
date: 0001-01-01
---

{%- from 'components/hero.njk' import hero -%}

<section class="mx-auto py-6 px-4 max-w-7xl relative lg:px-8">
  {% call hero(title='Game: '+title,lead=desc) %}{% endcall %}
  <div class="pt-12">
    <iframe src="https://craigerskine.github.io/qshoot/" class="mx-auto w-full aspect-video">Your browser does not support iframes</iframe>
  </div>
</section>
