---
layout: false
tags: ux
title: 11ty Twind
desc: Starter kit for 11ty that uses Twind, Alpine, and some other cool stuff.
url: https://craigerskine.github.io/11ty-twind/
tech:
  - title: HTML
    ico: fa6-brands:html5
  - title: CSS
    ico: fa6-brands:css3-alt
  - title: Twind
    ico: mdi:tailwind
  - title: 11ty
    ico: simple-icons:eleventy
ico: mdi:web
color: neutral
date: 0014-01-01
---
