---
layout: 'layouts/default.njk'
title: UX Experiments
permalink: /ux/
eleventyNavigation:
  key: Ux
  order: 2
---

<section class="mx-auto py-6 px-4 max-w-7xl relative lg:px-8">
  <div class="hero max-w-xl space-y-8">
    <h1 class="text-(gray-900 3xl) font-semibold tracking-tight md:(text-4xl leading-tight)">
      {{ title }} and other fun web/screen exercises
    </h1>
    <h2 class="leading-relaxed opacity-80">Sometimes I need to build out web-based interfaces to measure possibilities or to fully visualize design gaps or interaction issues. Here are a few for your perusal...</h2>
  </div>
  <div class="py-16 sm:(py-32)">
    <ul class="grid-(& cols-1) gap-16 sm:(grid-cols-2) lg:(grid-cols-3)">
      {%- for item in collections.ux -%}
      <li class="group relative flex flex-col items-start">
        <div class="border-(t white/50) h-12 w-12 bg-{{ item.data.color }}-500/30 bg-gradient-to-b from-white/30 via-transparent to-{{ item.data.color }}-500/30 text-({{ item.data.color }}-600 2xl) flex items-center justify-center rounded-full shadow-lg ring-(1 inset {{ item.data.color }}-900/20)" aria-hidden="true">
          <iconify-icon icon="{{ item.data.ico }}" width="1em" height="1em" inline="false" class="iconify"></iconify-icon>
        </div>
        <a href="{{ item.data.page.fileSlug }}.html" class="group mt-6">
          <strong class="text-gray-900">{{ item.data.title }}</strong>
          <p class="mt-2 text-sm leading-normal opacity-80">{{ item.data.desc }}</p>
          <ul class="mt-2 text-xl flex gap-3 opacity-50">
            {%- for tech in item.data.tech %}
            <li><iconify-icon icon="{{ tech.ico }}" width="1em" height="1em" inline="false" class="iconify"></iconify-icon></li>
            {%- endfor %}
          </ul>
          <div class="bg-{{ item.data.color }}-500/10 absolute -inset-y-6 -inset-x-4 z-10 opacity-0 transform scale-75 motion-safe:(transition) group-hover:(opacity-100 scale-100) sm:(-inset-x-6 rounded-2xl)" aria-hidden="true"></div>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</section>