{%- macro card(param) -%}
<li class="p-4 flex flex-col items-start relative motion-safe:(transition) hover:(-translate-y-1 -translate-x-1)">
  <div class="{{ 'pt-16' if param.ico }}">
    <a{% if param.url === '#' %} @click.prevent{% endif %} href="{{ param.url }}" class="group text-gray-900 font-bold{% if param.url === '#' %} cursor-not-allowed{% endif %}">
      {{ param.title }}
      {%- if param.ico %}
        <span class="h-12 w-12 text-2xl btn-{{ param.color }} absolute top-3 left-3" aria-hidden="true">
          <iconify-icon icon="{{ param.ico }}" class="iconify" noobserver></iconify-icon>
        </span>
      {%- endif %}
      <span class="border-(& gray-500/10) bg-transparent bg-gradient-to-t from-gray-500/5 absolute inset-0 z-10 rounded-2xl motion-safe:(transition) group-hover:(border-gray-500/20 bg-{{ param.color }}-500/10 from-white/5 shadow-[0.25rem_0.25rem_0_0.25rem_rgb(0_0_0/.1)]) dark:(from-white/5)" aria-hidden="true"></span>
    </a>
    {%- if param.desc %}
      <p class="pt-2 text-(sm wrap-balance) leading-normal line-clamp-2 opacity-80">{{ param.desc }}</p>
    {%- endif %}
    {%- if param.tech %}
      <div class="mt-4 pt-4 border-(t gray-500/10) text-xl leading-none flex-(& wrap) items-center justify-between">
        <ul class="flex gap-4 opacity-50">
          {%- for tech in param.tech %}
          <li><iconify-icon icon="{{ tech.ico }}" class="iconify" noobserver></iconify-icon></li>
          {%- endfor %}
        </ul>
        <p class="flex items-center gap-2">
          {%- if param.status %}<small class="text-xs uppercase opacity-50">{{ param.status }}</small>{%- endif %}
          <iconify-icon icon="{{ 'mdi:link-variant' if param.url !== '#' else 'mdi:link-variant-off' }}" class="iconify opacity-30" noobserver></iconify-icon>
        </p>
      </div>
    {%- endif %}
  </div>
</li>
{%- endmacro -%}
