{% macro x(social='',css='') %}
<ul class="flex gap-2 lg:(gap-5)">
  {%- for soc in social %}
  <li><a href="{{ soc.url }}" class="group inline-block"><div class="btn-{{ soc.color }} w-12 h-12 text-2xl {{ css }}"><iconify-icon icon="{{ soc.ico }}" width="1em" height="1em" inline="false" class="iconify" title="{{ soc.title }}"></iconify-icon></div></a></li>
  {%- endfor %}
</ul>
{% endmacro %}