{%- macro social(social='',css='') -%}
<ul class="flex gap-2 lg:(gap-5)">
  {%- for soc in social %}
  <li>
    <a href="{{ soc.url }}" class="group flex rounded-full" title="{{ soc.title }}">
      <div class="btn btn-{{ soc.color }} w-12 h-12 text-2xl {{ css }}">
        <iconify-icon icon="{{ soc.ico }}" class="iconify" noobserver></iconify-icon>
      </div>
    </a>
  </li>
  {%- endfor %}
</ul>
{%- endmacro -%}
