---
layout: layouts/default.njk
title: UX Experiments
lead: |
  Sometimes I need to build out web-based interfaces to measure the possibilities or to fully visualize design gaps and interaction issues. Here are a few that are not under embargo...

# Want me to build a web project for you? Check out my [price list](#){ @click.prevent=$refs.pricing.showModal() }. { .text-sm }
permalink: /ux/
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    title: Ux
    icon: mdi:drawing
    order: 2
---

{%- from 'components/hero.njk' import hero -%}
{%- from 'components/card.njk' import card -%}

<section class="mx-auto py-6 px-4 max-w-7xl relative lg:px-8">
  {%- call hero(
    title=title +' and other fun web/screen exercises',
    lead=lead)
  %}
  {%- endcall %}
  <div class="py-16 sm:(py-32)">
    <ul class="grid-(& cols-1) gap-16 sm:(grid-cols-2) lg:(grid-cols-3)">
      {%- for item in collections.ux -%}
      {{ card({
        title: item.data.title,
        ico: item.data.ico,
        url: item.data.url if item.data.url else item.url,
        color: item.data.color,
        desc: item.data.desc,
        tech: item.data.tech,
        status: item.data.status
      }) }}
      {%- endfor -%}
    </ul>
  </div>
</section>

{#- <template x-teleport="body">
  <dialog x-ref="pricing" class="modal modal-bottom md:modal-middle">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Hello!</h3>
      <p class="py-4">Press ESC key or click outside to close</p>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</template> -#}
