---
layout: layouts/default.njk
title: Gaming
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    title: Gm
    icon: mdi:gamepad-variant-outline
    order: 3
---

{%- from 'components/hero.njk' import hero -%}
{%- from 'components/card.njk' import card -%}

<section class="mx-auto py-6 px-4 max-w-7xl relative lg:px-8">
  {% call hero(title=title +' stuff',lead='I hope to possibly make a video game one day before I die. This is my current progress along with other amazing, or maybe not so amazing, video game related garbage...') %}
  {% endcall %}
  <div class="py-16 sm:(py-32)">
    <ul class="grid-(& cols-1) gap-16 sm:(grid-cols-2) lg:(grid-cols-3)">
      {%- for item in collections.games -%}
      {{ card({
        title: item.data.title,
        ico: item.data.ico,
        url: item.url if item.url else '#',
        color: item.data.color,
        desc: item.data.desc,
        status: 'In progress' if item.url else 'Planning'
      }) }}
      {%- endfor -%}
    </ul>
  </div>
</section>
