---
layout: 'layouts/default.njk'
title: 404
---

<article class="mx-auto py-6 px-4 max-w-7xl relative lg:px-8">
  <h1 class="m-auto py-8 px-4 text-gray-800 text-[calc(4vw+4vh)] leading-none font-black text-center md:(py-32)">
    404
    <small class="pt-2 text-base font-(normal mono) block opacity-80 md:(text-xl)">you === 'sassy'</small>
  </h1>
</article>