---
layout: 'layouts/default.njk'
---

{%- setblock 'data' %}home{% endsetblock -%}
{%- import 'components/hero.njk' as hero -%}
{%- import 'components/social.njk' as social -%}

<article class="mx-auto py-6 px-4 max-w-7xl relative lg:px-8">
  {%- set heroTitle %}
    {{ site.meta.title }} is a {% for i in home.is %}{% if loop.last %}and {% endif %}<b class="text-pri-500 font-black">{{ i }}</b>{% if not loop.last %}, {% endif %}{% endfor -%}...
  {%- endset %}
  {%- call hero.x(title=heroTitle,lead=home.lead) %}
    {{ social.x(social=site.social) }}
  {%- endcall %}
</article>
<nav class="mx-auto pt-6 px-4 max-w-7xl flex justify-center relative lg:px-8">
  <ul class="px-1 py-2 bg-gray-50/50 inline-flex ring-(1 gray-200) rounded-full shadow" role="tablist">
    <template x-for="(item, index) in workTypes" class="hidden">
      <li class="mx-1" role="presentation"><a @click.prevent.stop="workActive = index" href="#" :class="['py-1.5 px-2.5 text-sm font-semibold uppercase block rounded-full motion-safe:(transition)', workActive == index ? 'tab-pri' : 'hover:text-gray-500']" role="tab" :aria-expanded="workActive == index" x-text="item"></a></li>
    </template>
  </ul>
</nav>
<div class="pb-16 relative">
  <section x-show="workActive == 0" id="panel-work-ill" class="py-12 flex justify-center gap-5 overflow-hidden motion-safe:(transition duration-500 ease-in-out) sm:gap-8" role="tabpanel"
    x-transition:enter="absolute top-0 inset-x-0"
    x-transition:enter-start="opacity-0 scale-110 blur-lg"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-110 blur-lg"
  >
    {%- for item in collections.illustrations %}
    <a @click.prevent='workModal = !workModal; $dispatch("work-modal", { data: { title: "{{ item.data.title }}", sub: "{{ item.data.sub }}", url: "{{ item.data.url }}", tech: {{ item.data.tech | dump | safe }}, type: "png" } })' href="#" class="group relative w-1/3 flex-(& none) first-child:hidden last-child:hidden overflow-hidden rounded-xl relative [&:nth-child(odd)]:rotate-2 [&:nth-child(even)]:-rotate-2 shadow-xl lg:(w-[calc(20vw)] h-[calc(15vw)] first-child:flex last-child:flex rounded-2xl) motion-safe:(transition) hover:(rotate-0)">
      <b class="bg-(center cover) absolute inset-0" aria-hidden="true" style="background-image: url('/_assets/img/bg-wood.png');"></b>
      <div class="w-full h-full flex relative">
        <img src="/_assets/img/work-{{ item.data.title | slugify }}.png" alt="{{ item.data.title }} illustration" class="w-full h-full object-(cover center) transform scale-110 motion-safe:(transition-all) group-hover:(scale-150)" />
      </div>
    </a>
    {%- endfor %}
  </section>
  <section x-show="workActive == 1" id="panel-work-web" class="py-12 flex justify-center gap-5 overflow-hidden motion-safe:(transition duration-500 ease-in-out) sm:gap-8" role="tabpanel"
    x-transition:enter="absolute top-0 inset-x-0"
    x-transition:enter-start="opacity-0 scale-90 blur-lg"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-90 blur-lg"
  >
    {%- for item in collections.web %}
    <a @click.prevent='workModal = !workModal; $dispatch("work-modal", { data: { title: "{{ item.data.title }}", sub: "{{ item.data.sub }}", url: "{{ item.data.url }}", tech: {{ item.data.tech | dump | safe }}, type: "jpg" } })' href="#" class="group relative w-1/3 flex-(& none) first-child:hidden last-child:hidden overflow-hidden rounded-xl [&:nth-child(odd)]:rotate-2 [&:nth-child(even)]:-rotate-2 shadow-xl lg:(w-[calc(20vw)] h-[calc(15vw)] first-child:flex last-child:flex rounded-2xl) motion-safe:(transition) hover:(rotate-0)">
      <div class="w-full h-full flex">
        <img src="/_assets/img/work-{{ item.data.title | slugify }}.jpg" alt="{{ item.data.title }} website" class="w-full h-full object-(cover top) transform scale-110 motion-safe:(transition-all) group-hover:(scale-150)" />
      </div>
    </a>
    {%- endfor %}
  </section>
</div>

<div x-show="workModal" x-trap.noscroll.inert="workModal" class="modal bg-black/80 flex justify-center items-center overflow-y-auto fixed inset-0 z-[9999] motion-safe:(transition duration-300 ease-in-out)"
  x-transition:enter-start="opacity-0 blur-lg"
  x-transition:enter-end="opacity-100"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0 blur-lg">
  <div @click.outside="workModal = false" class="relative" role="dialog" aria-modal="true">
    <button type="button" @click="workModal = false" class="w-8 h-8 bg-gray-200 font-black flex items-center justify-center absolute top-2 right-2 shadow rounded-full ring-(inset 2 gray-50) lg:(-top-4 -right-4)"><iconify-icon icon="fa6-solid:xmark" inline="false"></iconify-icon> <span class="sr-only">Close</span></button>
    <template x-if="workModal"> <!-- ** alpine needs this or it will just try to render things even if they have not dispatched yet? seems like a bug to me ** -->
    <div class="w-screen max-w-xl bg-gray-200 overflow-hidden rounded-2xl shadow-2xl">
      <img @click.prevent.stop @touchstart.prevent.stop :src="'/_assets/img/work-' + slugify(workData.title) +'.'+ workData.type" :alt="workData.title" class="w-full h-96 bg-(cover center) object-(center cover) pointer-events-none" :style="workData.type == 'png' ? 'background-image: url(\'/_assets/img/bg-wood.png\')' : ''" />
      <div class="py-6 px-8 relative">
        <div class="flex-(& col) gap-1">
          <p x-text="workData.title" class="text-2xl font-black flex-1 lg:(text-4xl tracking-tight)"></p>
          <p x-text="workData.sub" class="text-(sm gray-500) flex-none"></p>
        </div>
        <ul class="text-xl leading-none flex -space-x-2 absolute -top-5 right-5">
          <template x-for="(t, index) in workData.tech">
          <li class="w-10 h-10 text-pri-50 dark:(text-pri-50) bg-pri-500 flex ring-(2 inset white) rounded-full shadow-lg">
            <template x-if="t == 'Fireworks'">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" role="img" class="m-auto w-6 fill-current">
                <title x-text="t"></title>
                <path x-show="t == 'Fireworks'" d="m40 16.64c0 9.7043815-6.0494604 18.3063356-14.8524047 18.4774042l-.2675953.0025958v-6.0342857c5.0241209 0 8.9919496-5.5077194 9.0708038-12.2412957l.0011962-.2044186zm-12.4 0c0 9.7043815-6.0494604 18.3063356-14.8524047 18.4774042l-.2675953.0025958v-6.0342857c5.0241209 0 8.9919496-5.5077194 9.0708038-12.2412957l.0011962-.2044186zm-3.44-11.68v6c-5.3504 0-7.231488 4.677376-9.173289 9.9160371l-.2654988.7174554c-2.3988442 6.4814515-5.1308122 13.5265075-14.7212122 13.5265075v-6c3.46826668-.0092181 6.00160001-2.0358848 7.6-6.08h-4.56v-6h6.96c2.6666666-8.05333336 7.3866666-12.08 14.16-12.08z"></path>
              </svg>
            </template>
            <template x-if="t == 'CSS' || t == 'Figma' || t == 'HTML' || t == 'Js' || t == '11ty' || t == 'Alpine' || t == 'Sketch' || t == 'Vue'">
              <iconify-icon :icon="[t == 'CSS' ? 'fa6-brands:css3-alt' :
                (t == 'Figma') ? 'fa6-brands:figma' :
                (t == 'HTML') ? 'fa6-brands:html5' :
                (t == 'Js') ? 'fa6-brands:js' :
                (t == '11ty') ? 'simple-icons:eleventy' :
                (t == 'Alpine') ? 'simple-icons:alpinedotjs' :
                (t == 'Sketch') ? 'fa6-brands:sketch' : 'fa6-brands:vuejs'
              ]" inline="false" class="m-auto" :title="t"></iconify-icon>
            </template>
          </li>
          </template>
        </ul>
        <a :href="workData.url" class="p-1 w-24 h-24 bg-pri-500 text-(xl white) flex absolute -bottom-12 -right-12 transform rotate-45">
          <iconify-icon icon="fa6-solid:arrow-right" class="my-auto -rotate-45"></iconify-icon>
          <span class="sr-only">Learn More</span>
        </a>
      </div>
    </div>
    </template>
  </div>
</div>

{% setblock 'js' %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('home', () => ({
      workActive: 0,
      workTypes: [
        'Vector',
        'Web',
      ],
      workModal: false,
      workData: {},
      slugify(text) {
        return text?.toString()
          .toLowerCase()
          .trim()
          .replace(/\s+/g, '-')
          .replace('.', '-')
          .replace('&', '-and-')
          .normalize('NFKD')
          .replace(/[^\w\-]+/g, '')
          .replace(/\-\-+/g, '-')
          .replace(/^-+/, '')
          .replace(/-+$/, '') || ''
      },
    }))
  })
</script>
{% endsetblock %}